.u-block-a044-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a044-3 {
  position: absolute;
  left: 0;
}

.u-block-a044-4 {
  position: absolute;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1137px;
}

.u-section-1-1 .u-image-1 {
  filter: brightness(0.45);
  width: 324px;
  height: 149px;
  margin: 160px auto 0;
}

.u-section-1-1 .u-image-2 {
  width: 285px;
  height: 350px;
  margin: 19px auto 0 408px;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 291px 307px 0 auto;
  padding: 0 143px 0 142px;
}

.u-section-1-1 .u-text-1 {
  width: 597px;
  margin: -331px auto 0;
}

.u-section-1-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 2.25rem;
  margin: 71px auto 19px 395px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-image-2 {
    height: 349px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-right: 107px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-left: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-image-2 {
    margin-left: 255px;
  }

  .u-section-1-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-image-2 {
    margin-left: 55px;
  }

  .u-section-1-1 .u-text-1 {
    width: 340px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/6a403d6e48f053119540998173da94ad97e44be849a1d0b2854eed1753ee1d0307cccf73f185c5f7f2a1747deaa8ac86afe76d369a58320107e537_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 1137px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 760px;
  margin: 200px auto 0;
}

.u-section-1-2 .u-text-2 {
  width: 760px;
  margin: 30px auto 0;
}

.u-section-1-2 .u-layout-wrap-1 {
  width: 562px;
  margin: 31px auto 0;
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 49px;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 0 auto;
  padding: 10px 31px 10px 30px;
}

.u-section-1-2 .u-layout-cell-2 {
  min-height: 49px;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1-2 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

.u-section-1-2 .u-social-icons-1 {
  height: 62px;
  min-height: 16px;
  width: 205px;
  min-width: 68px;
  margin: 90px auto 60px;
}

.u-section-1-2 .u-icon-1 {
  height: 100%;
}

.u-section-1-2 .u-icon-2 {
  height: 100%;
}

.u-section-1-2 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 938px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1-2 .u-text-1 {
    width: 720px;
  }

  .u-section-1-2 .u-text-2 {
    width: 720px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }

  .u-section-1-2 .u-text-2 {
    width: 540px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1-2 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-1 {
    width: 340px;
  }

  .u-section-1-2 .u-text-2 {
    width: 340px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 318px;
}

.u-section-2 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: 73px auto 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  line-height: 1.8;
  margin: 33px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/6a403d6e48f053119540998173da94ad97e44be849a1d0b2854eed1753ee1d0307cccf73f185c5f7f2a1747deaa8ac86afe76d369a58320107e537_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1471px;
}

.u-section-3 .u-image-1 {
  width: 450px;
  height: 290px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 89px 60px 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 143px;
  height: 143px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(#2cccc4, #b9c1cc);
  margin: -379px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 250px;
  height: 250px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 1079px 103px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-3 .u-image-1 {
    width: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1905px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1789px;
  }

  .u-section-3 .u-image-1 {
    width: 219px;
    height: 219px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -308px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 90px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-4 .u-image-1 {
  min-height: 400px;
  background-image: url("images/cd5546984de56427027d637771a37d649a4d08a6a452f0102ede65388bff9035555eee0d6decc37a8b161b028bd59cd350bf1a4d9480995285a775_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-image-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-image-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-image-1 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-4 .u-image-1 {
    min-height: 239px;
  }
}